## Apply Na√Øve Bayes Classifier for a random dataset. Print all evaluation
# parameters.

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/rohitgupta29/Datasets/master/Assignments/heart_failure_clinical_records_dataset.csv')
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [28]:
inputs = df.drop("DEATH_EVENT", axis = 1)
target = df["DEATH_EVENT"]
target
#inputs

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [29]:
in_train,in_test,tar_train,tar_test = train_test_split(inputs,target,test_size = 0.25)
gnb = GaussianNB()
model = gnb.fit(in_train,tar_train)
y_pred = model.predict(in_test)

print("Accuracy score:\n" ,accuracy_score(tar_test,y_pred,))
print("Confusion matrix:\n" ,confusion_matrix(tar_test,y_pred))
print("Classification Report:\n" ,classification_report(tar_test, y_pred))

Accuracy score:
 0.7866666666666666
Confusion matrix:
 [[50  4]
 [12  9]]
Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.93      0.86        54
           1       0.69      0.43      0.53        21

    accuracy                           0.79        75
   macro avg       0.75      0.68      0.70        75
weighted avg       0.77      0.79      0.77        75