## DecisionTree Classifier

##  1. Select a random dataset suitable for classification, and develop an ML model
## using Decision Tree Classifier. Print Accuracy Score, Confusion Matrix and
## Classification Report

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/rohitgupta29/Datasets/master/Assignments/heart_failure_clinical_records_dataset.csv')

df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [10]:
inputs = df.drop("DEATH_EVENT", axis = 1)
target = df["DEATH_EVENT"]
target
#inputs

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

in_train,in_test,tar_train,tar_test = train_test_split(inputs,target,test_size = 0.25)

In [13]:
model = DecisionTreeClassifier()

model.fit(in_train,tar_train)

DecisionTreeClassifier()

In [14]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

Pr = model.predict(in_test)
Pr

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1], dtype=int64)

In [15]:
print(accuracy_score(tar_test,Pr))
print(confusion_matrix(tar_test,Pr))

print(classification_report(tar_test, Pr))

0.8133333333333334
[[45  7]
 [ 7 16]]
              precision    recall  f1-score   support

           0       0.87      0.87      0.87        52
           1       0.70      0.70      0.70        23

    accuracy                           0.81        75
   macro avg       0.78      0.78      0.78        75
weighted avg       0.81      0.81      0.81        75

NameError: name 'rf' is not defined